.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 1.5rem;
  margin: 20px 0;
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f4f4f4;
  text-align: left;
}

.nicknameForm {
  margin: 5px 0; /* 上下の余白を小さくする */
  padding: 5px 0; /* 上下のパディングを小さくする */
  height: auto;
}

.nicknameForm p {
  margin: 0; /* 上下のマージンを削除 */
  padding: 0; /* 上下のパディングを削除 */
}
